<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>LeitnerBox uses your location for storing a location question if you need.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>LeitnerBox uses your location for storing a location question if you need.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>LeitnerBox uses your location for storing a location question if you need.</string>
</dict>
</plist>
